#nav .button.special.active > a {
	color: white !important;
}

/** Next button in news **/
#news .goto-next {
	bottom: -130px;
}

#banner .content header {
    display: inline;
    /* vertical-align: middle; */
}

#banner .content header h2 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}

#banner .content .image {
    position: relative;
    width: 100%;
    height : auto;
}

.event-page {
	padding: 0.2em 0 4em 0;
}

.ui.attached.segment {
	background-color: rgba(255, 255, 255, 0.075);
	border: 1px solid rgba(255, 255, 255, 0.075);
}

.ui.tabular.menu .item,
.ui.tabular.menu .active.item {
	color: white;
}

.ui.tabular.menu .active.item {
	background-color: rgba(255, 255, 255, 0.075);
}

@media screen and (max-width: 736px) {
    
    #banner .content header h2 {
        font-size: 1.5em;
    }
    
}