a {
    color: #04ABFA;
}

a:hover {
    color: #04ABFA !important;
}

input[type="submit"].special, input[type="reset"].special, input[type="button"].special, .button.special {
    background-color: #1710e0;
}

input[type="submit"].special:hover, input[type="reset"].special:hover, input[type="button"].special:hover, .button.special:hover {
    background-color: #000094;
}

input[type="submit"]:hover, input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="button"]:hover,
input[type="button"]:active,
.button:hover,
.button:active {
    box-shadow: inset 0 0 0 1px #1710E0;
    color: #312AFA !important;
}

#nav .button.special.active > a {
	color: white !important;
}

/** Change underline under header h1 major **/
header.major:after {
    background: #1710E0;
}

.ui.inverted.blue.basic.button:hover {
    box-shadow: 0 0 0 1px #1710E0 inset !important;
    color: #312AFA !important;
}

/** Next button in news **/
#news .goto-next {
	bottom: -130px;
}

#banner .content header {
    display: inline;
    /* vertical-align: middle; */
}

#banner .content header h2 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}

#banner .content .image {
    position: relative;
    width: 100%;
    height : auto;
}

header.major {
    margin: 0 0 3em 0;
    position: relative;
    text-align: center;
}
.event-page {
	padding: 0.2em 0 4em 0;
}

.ui.attached.segment {
	background-color: rgba(255, 255, 255, 0.075);
	border: 1px solid rgba(255, 255, 255, 0.075);
}

.ui.tabular.menu .item,
.ui.tabular.menu .active.item {
	color: white;
}

.ui.tabular.menu .active.item {
	background-color: rgba(255, 255, 255, 0.075);
}

.head-logo-img {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

@media screen and (max-width: 736px) {

    #banner .content header h2 {
        font-size: 1.5em;
    }

    .head-logo-img {
        width: 30%;
    }
}

/** Hack to make event's tab scrollable on small screen **/

.ui.top.attached.tabular.menu.tabmenu {
    overflow-x: auto;
    overflow-y: hidden;
}

/** Download tab **/

.ui.items>.item>.content> a.header{
    color: white;
}

.ui.items>.item>.content>.description > p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
}
#bagian-peta {
    height: 100%;
    width: 100%;
}

#gmap {
    height: 75%;
    width: 100%;
}

#gmap a.link-peta, #gmap a.link-peta:hover, #gmap a.link-peta:visited, #gmap a.link-peta:link {
    color: blue;
}
.cheader {
    background-color: transparent;
    height: 85vh;
    transition: 1000ms;
}



/** contact form bg color to blue */
.wrapper.style2 {
    background-color: #4F60F1;
}

/* button text color */
.wrapper.style2 input[type="submit"].special, .wrapper.style2 input[type="reset"].special, .wrapper.style2 input[type="button"].special, .wrapper.style2 .button.special {
    background-color: blue;
    color: white !important;
}

/* modal popup content text to white */
.ui.modal>.content {
    color: black;
    font-family: "Arial"
}
