@charset "utf-8";

.header-logo{
	margin-top:0px;
	height:150%;
}

.navbar-brand{
	padding-top:5px;
}

header .intro-text .name{
	font-size:2em;
	padding-bottom: 20px;
}

header .container {
    padding-top: 150px;
    padding-bottom: 50px;
}

.btn-social .btn-outline {
}

footer span.tulisan {
	display: inline-block;
	margin-right: 10px;
}

footer ul.list {
	list-style: none;
}

#Events h2 {
	margin-bottom: 40px;
}

header {
	background-color: #231f20;
	color: white;
}